@font-face {
    font-family: 'Viper Nora';
    src: url('../fonts/Viper Nora.woff');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}




* {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}



p {
    margin: 0px;
    padding: 0px;
    font-family: Garamond, serif;
}






body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/alaska.jpg);
    background-size: auto;
    background-position: top center;
    background-attachment: fixed;
}

#main {
    position: relative;
    top: 0px;
    width: 800px;
    height: 100%;
    min-height: 100vh;
    margin: 0px auto;
    padding-top: 30px;
    border-left: 1px rgba(144, 94, 70, 0.2) solid;
    border-right: 1px rgba(144, 94, 70, 0.2) solid;
    background-color: rgba(255, 255, 255, 0.8);
}

    header {
        color: #222;
    }

        #homepageLink {
            text-decoration: none;
            color: inherit;
        }

            h1 {
                width: 100%;
                margin: 0px;
                font-family: 'Viper Nora', 'Arial Black', sans-serif;
                font-size: 6rem;
                text-align: center;
            }

            #authorLine {
                width: 60%;
                height: 0px;
                margin: 10px auto;
                border: 1px black solid;
            }

            #author {
                width: 100%;
                margin: 0px;
                font-size: 2rem;
                text-align: center;
            }

    #postsList {
        width: 100%;
        padding: 0px 20px;
    }

        .postContainer {
            width: calc(100% - 40px);
            padding: 15px 0px;
        }

        .post {
            box-sizing: border-box;
            width: 100%;
            padding: 20px;
            border: 20px #C2CFDB solid;
            color: #333;
            
            transition: all 0.3s cubic-bezier(0.05,0.15,0.25,1);
        }
            .postContainer:hover .post {
                border: 20px rgba(144, 94, 70, 0.7) solid;
                background-color: rgba(255, 255, 255, 0.5);
                color: black;
            }

            .chapterLink {
                text-decoration: none;
                color: inherit;
            }

                .post > h3 {
                    margin: 0px 0px 5px 50px;
                    display: block;
                    font-family: 'Arial Black', sans-serif;
                    /*color: inherit;*/
                    color: #555;
                    font-size: 1.2rem;
                }

            .post > p {
                margin: 0px;
                font-family: 'Garamond', serif;
                text-align: justify;
            }

            .post strong {
                font-weight: bold;
            }

            .post .chapterInfos {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                padding-top: 10px;
                border-top: 1px #555 solid;
                font-size: 0.8rem;
                font-weight: bold;
                color: #555;
            }

            .chapterInfos .chapterDate {
                text-align: left;
            }

            .chapterInfos .chapterCommentsNbr {
                text-align: right;
            }

        #chapter {
            box-sizing: border-box;
            width: 100%;
            margin-top: 30px;
            padding: 40px;
            color: #333;
        }

            #chapterPublicationDate {
                display: block;
                width: 100%;
                text-align: right;
            }

            #chapter > h3 {
                width: 100%;
                margin-bottom: 30px;
                font-family: 'Viper Nora', 'Arial Black', sans-serif;
                text-align: center;
                font-size: 2rem;
                /*color: #777;*/
                color: #C2CFDB;
            }

            /*#chapter > p {
                margin: 0px;
                text-align: justify;
                font-family: Garamond, serif;
                text-indent: 50px;
                font-size: 1.2rem;
            }*/

h2 {
    margin: 20px 0px 40px 0px;
    font-size: 2rem;
    text-align: center;
    color: #333;
}

form {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 40px;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

#pagination a {
    color: #777;
    text-decoration: none;
    text-align: center;
}

#pagination td {
    position: relative;
    width: 20px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#pagination .fa-caret-left, #pagination .fa-caret-right {
    font-size: 1.8rem;
}

#pagination .fa-step-backward, #pagination .fa-step-forward {
    position: relative;
    top: 1px;
    font-size: 1.2rem;
}

#pagination .fa-circle {
    display: block;
    font-size: 0.75rem;
}

.hidden {
    visibility: hidden;
}

.currentPage {
    color: rgba(144, 94, 70, 0.7);
}

#adminChaptersList {
    text-align: right;
}

.formTableContainer, .tableContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 6px #C2CFDB dashed;
}

.tableContainer {
    width: calc(100% - 80px);
    margin: 0px 40px 40px 40px;
}

#adminChaptersList table {
    width: 100%;
    border-collapse: collapse;
}

#adminChaptersList thead > tr {
    height: 40px;
}

#adminChaptersList tr:nth-child(even) {
    background-color: rgba(144, 94, 70, 0.06);
}

#adminChaptersList tbody > tr:hover {
    background-color: #C2CFDB;
}

#adminChaptersList th {
    text-align: center;
    color: #333;
}

/*td {
    width: 60px;
    text-align: center;
}

#adminCommentsList */#adminChaptersList td {
    width: 40px;
    text-align: center;
}

#adminChaptersList td:first-of-type {
    width: auto;
    text-align: left;
    padding: 5px 20px;
}

#adminCommentsList td:nth-of-type(3) {
    width: auto;
    text-align: justify;
    padding: 5px 20px;
}


table a {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-decoration: none;
}

.bigButton {
    margin: 20px 0px 20px 10px;
    min-height: 30px;
    padding: 7px;
    border: 1px #888 solid;
    border-radius: 8px;
    background: linear-gradient(to bottom, #cfd9e3, #afc0d0);
    font-family: 'Roboto Regular', 'Arial', sans-serif;
    color: #555;
}

/*.bigButton:active {
    border: 2px #CCC inset;
}*/

table > caption {
    text-align: left;
    font-size: 1.4rem;
    color: #AAA;
}

.buttonsBox {
    width: 100%;
    text-align: right;
}

#editedTitle {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 0px 5px 50px;
    border: 1px #BBB solid;
    font-family: 'Arial', sans-serif;
    color: #333;
}

/*#adminEditionForm > */label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.4rem;
    color: #AAA; 
    text-indent: 50px;
}

#adminComment > label {
    text-indent: 20px;
}

#editedComment, #newCommentContent {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    border: 1px #BBB solid;
    resize: none;
    padding: 5px 10px;
    color: #333;
}

#newCommentAuthor {
    box-sizing: border-box;
    width: 200px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px #BBB solid;
    color: #333;
}

#chapterCommentsList {
    box-sizing: border-box;
    width: calc(100% - 80px);
    margin: 0px 40px 40px 40px;
    padding: 20px;
    border: 6px #C2CFDB dashed;
    list-style-type: none;
}

#chapterCommentsList > li:nth-child(even) {
    background-color: rgba(144, 94, 70, 0.06);
}

#chapterCommentsList > li {
    padding: 10px 20px;
    border-bottom: 1px #C2CFDB solid;
}

#chapterCommentsList > li:last-child {
    border-bottom: none;
}

.commentInfos {
    position: relative;
    margin-bottom: 3px;
}

.commentAuthor {
    font-weight: bold;
    margin-left: 30px;
}

.commentDate {
    margin-left: 20px;
    font-size: 0.8rem;
    color: #888;
}

.commentContent {
    text-indent: initial;
}

.commentSignalButton {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #C2CFDB;
}

#chapterCommentsListLabel {
    text-indent: 90px;
}

#loginForm {
    margin-top: 50px;
    text-align: center;
}

#loginForm input {
    margin-bottom: 20px;
    padding: 7px;
}

#loginForm label {
    text-indent: initial;
}

#loginForm .bigButton {
    display: block;
    margin: 0px auto;
}

